@use "variables";

button {
  display: flex;
  gap: 0.5rem;
  align-items: center;

    
  &:hover {
    color: variables.$brown1;
  }

  i, span {
    display: block;
  }

  i {
    color: variables.$brown1;
    font-size: variables.$text-md1;
    font-weight: 300;
  }

  span {
    font-weight: 600;
  }
}