@import "variables-and-mixins";

.empty-cart-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: 3rem;

  img {
    width: 150px;
  }

  strong {
    display: block;
    color: $rose400;
    font-size: $text-md;
  }
}