@use "variables";

:host {
  display: block;
}

dialog {
  margin: auto;
  margin-bottom: 0;
  border: none;
  width: 615px;
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  &::backdrop {
    background: rgba(0, 0, 0, 0.7);
  }

  .modal-title {
    font-size: variables.$text-lg;
  }
  
}

#modal-container {
  width: 100%;
  padding: 1.5rem;
}

.modal-header {
  margin-top: 0.5rem;
  p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: variables.$rose500;
    
  }

  h3 {
    font-size: variables.$text-lg;
    color: variables.$rose900;
    line-height: 1.25;
    margin-top: 1rem;
  }

  .order-confirmed-icon {
    margin-top: 1rem;
  }
}

.cart-list-confirm {
  background-color: variables.$rose50;
  padding: 0.5rem 1.5rem;
  margin-top: 2rem;
  border-radius: 10px;
}

.start-new-order-button {
  margin-top: 2rem;
  width: 100%;
  transition: all 0.5s;
  &:hover {
    background-color: darken(variables.$brown1, 20%);    
  }
}

@media(min-width: variables.$tablet-width) {
  dialog {
    margin-bottom: auto;
    border-radius: 10px;
  }
}