@import "variables-and-mixins";

.selected-button {
  justify-content: space-between;
}

.icon-container {
  background: transparent;
  display: flex;
  color: $white;
  border: 1px solid $white;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  &:hover {
    background-color: $white;
    color: $brown1;
  }
}
