@use "variables";

.products-list {
  margin-top: 1.5rem;
}


.cart {
  margin-top: 2rem;
}

@media(min-width: variables.$tablet-width) {
  .products-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.25rem;
    row-gap: 1.5rem;
  }
}

@media(min-width: variables.$laptop-width) {
  :host {
    display: flex;
    gap: 2rem;
  }
  

  .cart {
    margin-top: 0;
    width: 800px;
    height: fit-content;
  }
}

@media(min-width: variables.$desktop-width) {
  .products-list {
    grid-template-columns: repeat(3, 1fr);
  }
}