/* You can add global styles to this file, and also import other style files */
@import "variables-and-mixins";
@font-face {
  font-family: "RedHatText";
  src: url("./assets/fonts/static/RedHatText-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RedHatText";
  src: url("./assets/fonts/static/RedHatText-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "RedHatText";
  src: url("./assets/fonts/static/RedHatText-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "RedHatText";
}

html {
  @media(max-width: 1080px){
    font-size: 93.75%;
  }

  @media(max-width: 720px){
    font-size: 87.5%;
  }
}

body {
  background-color: $rose50;
  font-size: $text-md;
}

ul {
  list-style: none;
}

h1 {
  font-size: $text-lg;
}

img {
  max-width: 100%;
}

.container {
  padding: 2rem;
  max-width: $desktop-width;
}

.text--xs {
  font-size: $text-xs;
}

.text--sm {
  font-size: $text-sm;
}

.text--md {
  font-size: $text-md;
}

.text--md1 {
  font-size: $text-md1;
}

.text--md2 {
  font-size: $text-md2;
}

.text--lg {
  font-size: $text-lg;
}

.text--lg1 {
  font-size: $text-lg1;
}

.text--lg2 {
  font-size: $text-lg2;
}

.text--regular {
  font-weight: normal;
}

.text--semibold {
  font-weight: 600;
}

.text--bold {
  font-weight: bold;
}

.btn {
  height: 3rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.btn--primary {
  background-color: $rose50;
  border: 1px solid $rose500;
  color: $rose900;
}

.btn--accent {
  background-color: $brown1;
  border: none;
  color: $white;
}

@media(min-width: $laptop-width) {
  .container {
    padding: 3rem;
  }
}

@media(min-width: $laptop-width) {
  .container {
    padding: 4rem;
    margin-left: auto;
    margin-right: auto;
  }
}