$green: hsl(159, 69%, 38%);
$brown1: hsl(14, 86%, 42%);
$rose50: hsl(20, 50%, 98%);
$rose100: hsl(13, 31%, 94%);
$rose300: hsl(14, 25%, 72%);
$rose400: hsl(7, 20%, 60%);
$rose500: hsl(12, 20%, 44%);
$rose900: hsl(14, 65%, 9%);
$white: #FFF;

$mobile-width: 375px;
$tablet-width:  640px;
$laptop-width: 1024px;
$desktop-width: 1440px;

$text-xs: 0.75rem;
$text-sm: 0.85rem;
$text-md: 1rem;
$text-md0: 1.25rem;
$text-md0-5: 1.5rem;
$text-md1: 1.75rem;
$text-md2: 2rem;
$text-lg: 3rem;
$text-lg1: 4rem;
$text-lg2: 5rem;

// $text-tablet-xs: 0.75rem;
// $text-tablet-sm: 0.85rem;
// $text-tablet-md: 1rem;
// $text-tablet-md1: 1.5rem;
// $text-tablet-md2: 2rem;
// $text-tablet-lg: 3rem;
// $text-tablet-lg1: 4rem;
// $text-tablet-lg2: 5rem;

// $text-desktop-xs: 0.75rem;
// $text-desktop-sm: 0.85rem;
// $text-desktop-md: 1rem;
// $text-desktop-md1: 1.5rem;
// $text-desktop-md2: 2rem;
// $text-desktop-lg: 3rem;
// $text-desktop-lg1: 4rem;
// $text-desktop-lg2: 5rem;
