<div class="product-card__header">
  <img [src]="product().image.mobile" [alt]="product().name">
  
  @if (cartItem) {
    <app-selected-add-cart-button [cartItem]="cartItem" class="btn-add-to-cart">
    </app-selected-add-cart-button>
  } @else {
    <app-empty-add-cart-button [product]="product()" class="btn-add-to-cart">
    </app-empty-add-cart-button>
  }
  
  <!-- <span>{{productQty()}}</span> -->
</div>

<div class="product-card__body">
  <span class="product-card__category">{{ product().category}}</span>
  <strong class="product-card__name">{{ product().name}}</strong>
  <strong class="product-card__price">{{ product().price | currency}}</strong>
</div>
