@import "variables-and-mixins";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid $rose100;
}

.prodcut--name {
  color: $rose900;
}
.product--values {
  display: flex;
  margin-top: 0.5rem;

  .product--qty {
    color: $brown1;
    margin-right: 1rem;
  }
  
  .product--single-price,
  .product--total-price {
    color: $rose300;
  }

  .product--total-price {
    font-weight: 600;
    margin-left: 0.5rem;
  }
}

.remove-product-button {
  border: none;
  background: none;
  color: $rose300;
  cursor: pointer;
}